# of the project
logs/
backup/
versions/
sql/data/export/
sql/data/import/
export/
config/database.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
**/__pycache__/

# Pyenv
.python-version

# venv
*venv/
ENV/
env/
.venv/
venv.bak/
env.bak/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# Pytest
.cache/

# Coverage
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Sphinx documentation
docs/_build/

# IDEs and editors
.vscode/
.idea/
*.swp
*~

# Other
*.log
*.pot
*.mo
*.sqlite
*.db

# MacOS
.DS_Store